<header id="header">
    <div class="site-header">
        <div class="header-logo">{{@blog.title}}</div>
        <div class="header-title">
            <h1>DSA</h1>
            <h2><span class="red-highlight">Libertarian Socialist</span> Caucus</h2>
        </div>

        {{> "site-nav"}}
    </div>
    <div class="site-subnav">
        <ul class="subnav">
            <li><a href="#who-we-are">who we are</a> <span class="subnav-divider">|</span></li>
            <li><a href="#">our principles</a> <span class="subnav-divider">|</span></li>
            <li><a href="#">our vision</a> <span class="subnav-divider">|</span></li>
            <li><a href="#">what we engage in</a> <span class="subnav-divider">|</span></li>
            <li><a href="#">join us</a></li>
        </ul>
    </div>
</header>