{{!-- Rose at the bottom of all the content - the site "logo" --}}
<div class="footer-logo">
    {{#if @blog.logo}}
        <img src="{{@blog.logo}}" alt="{{@blog.title}}">
    {{/if}}
</div>

<footer class="site-footer">
    {{!-- Include social links here --}}
</footer>