<header id="header">
    <div class="site-header">
        <div class="header-logo">{{@blog.title}}</div>

        <div class="header-title">
            <h1>DSA</h1>
            <h2><span class="red-highlight">Libertarian Socialist</span> Caucus</h2>
        </div>

        {{> "site-nav"}}
    </div>
</header>