<ul class="subnav">
    <li><a onClick="global.subNavScroll('whoweare')">who we are</a> <span class="subnav-divider">|</span></li>
    <li><a onClick="global.subNavScroll('ourprinciples')">our principles</a> <span class="subnav-divider">|</span></li>
    <li><a onClick="global.subNavScroll('ourvision')">our vision</a> <span class="subnav-divider">|</span></li>
    <li><a onClick="global.subNavScroll('whatweengagein')">what we engage in</a> <span class="subnav-divider">|</span></li>
    <li><a onClick="global.subNavScroll('joinus')">join us</a></li>
</ul>
