{
    "url": "http://localhost:9001",
    "paths": {
        "contentPath": "./templates"
    },
    "database": {
        "client": "mysql",
        "connection": {
        "host": "127.0.0.1",
        "user": "your_database_user",
        "password": "your_database_password",
        "database": "your_database_name"
      }
    },
    "server": {
        "host": "localhost",
        "port": 9001
    },
    "maintenance": {
        "enabled": false
    }
}
