{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <section class="inner">
        <h2>Pamphlets</h2>
        <p>
          One of the initiatives the Libertarian Socialist Caucus is most proud of is our DSA-LSC Pamphlet Program. In the interests of expanding discussion and debate within the DSA, we have offered to publish Caucus members’ opinions in pamphlets that can be distributed online in PDF form.
        </p><p>
Unless otherwise stated, these pamphlets do not represent official positions of the Libertarian Socialist Caucus arrived at via consensus; rather, they represent solely the views of the author(s).
        </p><p>
PDFs for printing are available upon request.
        </p><p>
        </p>
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>

{{#contentFor "scripts"}}
    <script>
        (function($) {
            floatingHeader.update();
        }),(jQuery);
    </script>
{{/contentFor}}
