body, html {
  width: 100%;
  height: 100%;
  font-family: $sans-font;
  font-weight: 300;
  font-size: 100%;
  color: $dark-grey;
  background-color: $off-white;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}

h1 {
    font-weight: 900;
    font-size: 2.4rem;
}

h2 {
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.5rem;
    font-family: $serif-font;
    text-transform: capitalize;
    margin: 10px 0px;
}

.featured-post h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -0.3px;
}

h4 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 1.3rem;
    font-family: $serif-font;
    text-transform: uppercase;
}

h5 {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
    color: $border-grey;
    text-transform: uppercase;
}

p, li, blockquote {
    text-align: justify;
    font-size: $copy-font-size;
    line-height: 1.7rem;
    font-weight: 300;
    font-family: $sans-font;
}

.post-card-excerpt p {
    font-size: 1.1rem;
    line-height: 1.45rem;
}

i {
    font-weight: 300;
    font-style: italic;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: $primary-red;
    outline: 0;
    cursor: pointer;
}

.red-highlight {
    color: $primary-red;
    font-weight: 700;
}

.small-text {
    font-size: 0.9rem;
    line-height: 1.1rem;
}
.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

::selection {
    text-shadow: none;
    background: $light-grey;
}

/* -- temp --*/
/* -- to break up later --*/
.featured-post {
    margin: 0px $margin-browser 40px;
}

.post-card.no-image {
    border-top: 10px $primary-red solid;

    .post-card-content-link {
        padding-top: $margin-browser;
    }
}

.post-full-header {
    margin-bottom: $margin-browser;

    .post-full-meta {
        padding: 0px $margin-browser;
        text-transform: uppercase;
    }
}


/* ----- RESPONSIVE STYLES ----- */

@media screen and (max-width: 900px) {
    html, body {
        font-size: 85% !important;
    }
}

@media screen and (max-width: 699px) {

    .kg-card-markdown, .post-full-header .post-full-meta {
        padding: 0px;
    }

    .featured-post {
        margin: 0px $margin-mobile 20px;
    }
}
