#header {
    .site-header {
        position: relative;
        width: 100%;
        background: $primary-black;
        height: $header-height-browser;
        @include shadow($primary-black);

        .header-logo {
            position: relative;
            top: 0px;
            left: 0px;
            float: left;
            background: $primary-black url('../images/logo-flag.png') no-repeat top left;
            background-size: auto 100%;
            text-indent: -99999px;
            height: $header-height-browser;
            width: 298px;
        }

        .header-title {
            color: $primary-white;
            position: relative;
            display: inline-block;
            padding-top: 2rem;

            h1 {
                font-size: 3.75rem;
            }
            h2 {
                font-size: 2.2rem;
                font-weight: 300;
                text-transform: uppercase;
                line-height: 1rem;
            }
        }

        /* ------------ NAV ------------- */
        .mobile-menu { display: none; }
        nav.site-nav {
            position: relative;
            float: right;
            clear: none;
            right: $padding-browser;
            height: $header-height-browser;

            .nav-social {
                position: absolute;
                top: 15px;
                right: 0px;

                a {
                    opacity: 0.8;

                    svg {
                        fill: $primary-white;
                        height: 20px;
                    }
                }
            }

            .nav-main {
                position: absolute;
                bottom: 15px;
                right: 0px;

                .nav {
                    display: flex;
                    margin: 0px;
                    padding: 0px;
                    list-style: none;

                    li {
                        text-align: center;
                        display: inline-block;
                        margin: 0px 0px 0px 2.5rem;


                        a {
                            font-size: 1.15rem;
                            font-weight: 900;
                            letter-spacing: 0.4px;
                            text-transform: uppercase;
                            color: $primary-white;
                            transition: 0.2s color;
                            white-space: nowrap;
                        }
                        a:hover {
                            color: $primary-red;
                        }
                    }
                    li.nav-current a {
                        color: $primary-red;
                    }
                }
            }
        }
    }
}
.site-subnav {
    background-color: $light-grey;
    line-height: 2.35rem;
    overflow: auto;
    margin-bottom: $margin-browser;

    ul.subnav {
        position: relative;
        float: right;
        padding-right: $padding-browser;
        margin: 0px;

        li {
            text-align: center;
            display: inline-block;

            a {
                color: $dark-grey;
                font-size: 0.9rem;
            }
        }

        .subnav-divider {
            display: inline-block;
            color: $border-grey;
            font-size: 0.8rem;
            margin: 0px 1rem;
        }
    }
}



/* ----- RESPONSIVE STYLES ----- */

@media screen and (max-width: 900px) {
    html, body {
        font-size: 75% !important;
    }
    #header {
        .site-header, .site-header .header-logo, .site-header nav.site-nav {
            height: $header-height-mid;
        }
        .site-header .header-logo {
            width: 225px;
        }
    }
}

@media screen and (max-width: 699px) {
    #header {
        .site-header {
            height: $header-height-mobile;

            .header-logo {
                display: none;
            }

            .header-title {
                margin: $margin-mobile;
                padding: 0px;
                position: relative;
                display: inline-block;
                float: left;

                h1 {
                    font-size: 2.5rem;
                }
                h2 {
                    font-size: 1.7rem;
                }
            }
            nav.site-nav {
                display: none;
            }
            .mobile-menu {
                cursor: pointer;
                display: block;
                position: absolute;
                right: $margin-mobile;
                line-height: $header-height-mobile;
            }
        }
    }
    .site-subnav {
        display: none;
    }

}
